body{
    background-color: black;
}

.container{
    position: relative;
    color: white;
    font-family: Menlo;
}

#top{
    position: fixed;
    width: 100%;
    font-size: 55px;
    text-decoration: underline;
    left: 30%;
}
#top > span{
    color: goldenrod;
}

.fields{
    border: 6px dotted black;    
}

#line{
    margin-left: 5px;
    margin-bottom: 2px;
    font-size: 25px;
}

#ff{
    margin-left: 20px;
}

.details *{
    color: white;
    border-radius: 20px;
    margin:3px 3px 5px 0px;
    background-image: linear-gradient(to left, red,black);
}

#formBtn{
    color: white;
    font-family: Monaco;
    margin-left: 12px;
    border-radius: 20px;
    background-image: linear-gradient(to left,red,rgb(165, 153, 153));
}

div #pic{
    border-radius: 20px;
}

#bottom{
    position: fixed;
    width: 100%;
    left: 30%;
    bottom: 1%;
    font-size: 55px;
    text-decoration: underline;
}

#bottom > span{
    color: goldenrod;
}
 